<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>

    {{>header}}

    <!--prostřední část-->
    <div class="clanek2">
        <div class="uprostredR">
            <h2 class="uprostredText">Úprava rezervace</h2>
            <form id="editRezervation">
                <table class="table">
                    <tr>
                        <td>
                            <label class="rozestup" for="datumprijezdu">Datum příjezdu</label>
                        </td>
                        <td>
                            <input class="rozestup" id="datumprijezdu" type="date" name="datumprijezdu" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="rozestup" for="datumodjezdu">Datum odjezdu</label>
                        </td>
                        <td>
                            <input class="rozestup" id="datumodjezdu" type="date" name="datumodjezdu" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="rozestup" for="status">Status</label>
                        </td>
                        <td>
                            <select class="rozestup" id="status" name="status" required>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="rozestup" for="nazevpokoje">Název pokoje</label>
                        </td>
                        <td>
                            <select class="rozestup" type="text" id="nazevpokoje" name="nazevpokoje" required>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="rozestup" for="pokojid">ID Pokoje</label>
                        </td>
                        <td>
                            <input class="rozestup" type="text" id="pokojid" name="pokojid" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="rozestup" id="removeReservation" type="button">Smazat</button>
                        </td>
                        <td>
                            <button class="rozestup" type="submit">Uložit</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <!-- zápatí-->
    {{>footer}}
    <script src="/js/editResOpen.js"></script>
</body>

</html>