<!DOCTYPE html>
<html lang="en">

<!--REGISTRACE UŽIVATELE-->

<head>
{{>head}}
</head>

<body>

{{>header}}

	<!--prostřední část-->
	<div class="clanek2">
		<div class="uprostredR">
			<h2 class="uprostredText">Registrace</h2>
			<form id="registration">
				<table class="table">
					<tr>
						<td>
							<label class="rozestup" for="username">Jméno</label>
						</td>
						<td>
							<input class="rozestup" type="text" id="username" name="username" required>
						</td>
					</tr>
					<tr>
						<td>
							<label class="rozestup" for="email">Email</label>
						</td>
						<td>
							<input class="rozestup" type="email" id="email" name="email" required>
						</td>
					</tr>
					<tr>
						<td>
							<label class="rozestup" for="password">Heslo</label>
						</td>
						<td>
							<input class="rozestup" type="password" id="password" name="password" required>
						</td>
					</tr>
					<tr>
						<td>
							<button class="rozestup" type="submit">Registrovat</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>

{{>footer}}

  <script src="/js/registration.js"></script>
</body>

</html>
