<!DOCTYPE html>
<html lang="en">

<!--REZERVACE TERMÍNU-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Studentský projekt Kohl & Nosek</title>
	<link rel="icon" href="img/uhk.png" type="image/png" sizes="16x16">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

	<!-- styly -->
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="css/style.css" />

	<!-- ikona -->
	<link rel="icon" href="img/uhk.png" type="image/png" sizes="16x16">
</head>

<body>

	{{>header}}

	<!--prostřední část-->
	<div class="clanekSiroky2">
		<div class="clanekL">
			<div id="booking" class="section">
				<div class="section-center">
					<div class="container">
						<div class="row">
							<div class="col-md-7 col-md-push-5">
							</div>
							<div class="col-md-4 col-md-pull-7">
								<div class="booking-form">
									<form id="findres">
										<div class="form-group">
											<span class="form-label">ID pokoje</span>
											<span class="form-control" id="idpokoje"></span>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<span class="form-label">Datum příjezdu</span>
													<input class="form-control" id="checkin" type="date" required>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<span class="form-label">Datum odjezdu</span>
													<input class="form-control" id="checkout" type="date" required>
												</div>
											</div>
										</div>
										<div class="form-btn">
											<button type="submit" class="submit-btn">Vyhledat dostupné</button>
										</div>
										<button type="button" class="btn btn-success" id="bookNewRes">Rezervovat
											Termín</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clanekP">
			<div class="tabulkaR" id="showRes">


			</div>
		</div>
	</div>

	<!-- zápatí-->
	{{>footer}}
	<script src="/js/findres.js"></script>

</body>

</html>