<!DOCTYPE html>
<html lang="en">

<!--PROFIL UŽIVATELE-->

<head>
	{{>head}}
	{{!--
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" /> --}}
</head>

<body>
	{{>header}}
	<!-- nadpis -->

	<!--prostřední část-->
	<div class="clanekSiroky">
		<div class="clanekL">
			<h2 class="malynadpis dopln ">Profil</h2>
			<form id="profile">
				<table class="tableTest">
					<tr>
						<td>
							<label class="rozestup" for="jmenouzivatele">Jméno uživatele</label>
						</td>
						<td>
							<input class="rozestup" type="text" id="jmenouzivatele" name="jmenouzivatele">
						</td>
					</tr>
					<tr>
						<td>
							<label class="rozestup" for="adresa">Adresa</label>
						</td>
						<td>
							<input class="rozestup" type="text" id="adresa" name="adresa">
						</td>
					</tr>
					<tr>
						<td>
							<label class="rozestup" for="vek">Věk</label>
						</td>
						<td>
							<input class="rozestup" type="number" id="vek" name="vek">
						</td>
					</tr>
					<tr>
						<td>
							<button class="rozestup" id="povolzmeny" type="button">Změnit údaje</button>
						</td>
						<td>
							<button class="rozestup" id="logoutOne" type="button">Odhlásit z toho zařízení</button>
						</td>
						<td>
							<button class="rozestup" id="logoutAll" type="button">Odhlásit ze všech zařízení</button>
						</td>
						<td>
							<button class="rozestup" type="submit">Uložit</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
		<div class="clanekP2">
			<form id="change-password">
				<h2 class="malynadpis dopln ">Změna hesla</h2>
				<table class="table">
					<tr>
						<td>
							<label class="rozestup" for="zmenahesla">Nové heslo</label>
						</td>
						<td>
							<input class="rozestup" type="password" id="zmenahesla" name="zmenahesla" required>
						</td>
					</tr>
					<tr>
						<td>
							<button class="rozestup" type="submit">Změnit heslo</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>

	<div class="clanekSiroky2">
		<h2 class="malynadpis dopln odstavec">Rezervace uživatele</h2>
		<div class="uprostredR2">
			<div id="showRes">
			</div>
		</div>
	</div>

	{{>footer}}
	<script src="/js/userOpen.js"></script>
</body>

</html>