
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Studentský projekt Kohl & Nosek</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

	<!-- styly-->
	<!--<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />-->
	<link type="text/css" rel="stylesheet" href="/css/style.css"/>      


	<!-- ikona -->
	<link rel="shortcut icon" href="/img/uhk.png" type="image/png" sizes="16x16">