	<!-- nadpis -->
	<header>
		<img src="img/logo.png" class="nadpis" alt="Hotel Kohl & Nosek">
	</header>

	<!-- navigace -->
	<nav class="navigace">
		<nav class="vlevoNav">
			<a href='index.html'>HLAVNÍ STRÁNKA </a>|
			<a href='rezervation.html'>REZERVACE </a>|
			<a href='profile.html'>PROFIL </a>
		</nav>
		<nav class="vpravoNav">
			<a href='registration.html'>REGISTRACE </a>|
			<a href='login.html'>LOGIN</a>
		</nav>
	</nav>