	<!-- nadpis -->
	<header>
		<img src="img/logo.png" class="nadpis" alt="Hotel Kohl & Nosek">
	</header>

	<!-- navigace -->
	<nav class="navigace">
		<nav class="vlevoNav">
			<a href='/'>HLAVNÍ STRÁNKA </a>|
			<a href='/reservation'>REZERVACE </a>|
			<a href='/profil'>PROFIL </a>
		</nav>
		<nav class="vpravoNav">
			<a href='/register'>REGISTRACE </a>|
			<a href='/login'>LOGIN</a>
		</nav>
	</nav>