<!DOCTYPE html>
<html>
    <head>
        <title>Change password</title>
    </head>

    <body>
<h1>Login</h1>
<form id="change-password">
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Login</button>
</form>
<a href="/login">Login</a>
<script src="/js/changepassword.js"></script>

</body>
</html>